@media screen and (max-width: 768px) {
  .logo-img {
    width: 5em;
  }

  .dark .logo-img.logo-filtered-black {
    filter: none;
  }

  thead {
    display: none;
  }

  th .mobile-header,
  td .mobile-header {
    display: table-cell;
  }

  .mobile-row-wrapper {
    background-color: light-dark(var(--color-striped), var(--color-table-bg));
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    overflow: hidden;
  }

  tr:nth-child(even),
  tr:nth-child(odd) {
    background-color: light-dark(var(--color-striped), var(--color-table-bg));
  }

  tr {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: light-dark(var(--color-striped), var(--color-table-bg));
  }

  td {
    padding: 0.5em;
    font-size: 0.9em;
    border: none;
    max-width: none;
  }

  .cell-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cell-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .tableContainer {
    background-color: transparent;
    padding: 0;
  }

  .rank {
    width: auto;
  }

  .rank,
  .player,
  .points {
    font-size: 1rem;
  }

  .rank .cell-value {
    font-size: 1.5rem;
  }
}
