@media screen and (max-width: 1366px) {
  .switch-view-container,
  app-ranking-table {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .logo-img {
    width: 5em;
  }

  .dark .logo-img.logo-filtered-black {
    filter: none;
  }

  header {
    justify-content: space-between;
  }

  header app-search {
    flex: 1;
    max-width: 400px;
  }

  .title {
    font-size: 1.5rem;
  }

  .last-update {
    font-size: 0.7rem;
  }
}

